<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TinyMCE" type="Moxiecode.TinyMCE.ConfigHandler,Moxiecode.TinyMCE" requirePermission="false" />
  </configSections>
  <TinyMCE installPath="../js/tiny_mce" mode="src">
    <globalSettings>
      <add key="relative_urls" value="false" />
    </globalSettings>
    <gzipCompressor enabled="yes" diskCache="no" cachePath="c:\temp" expiresOffset="10d" />
  </TinyMCE>
  <appSettings>
    <add key="EmailCenter" value="~/BranchPanel/EmailCenter/uploads" />
     <!--<add key="ConnectionString" value="data source=LAPTOP-SIIJIBVA;initial catalog=missionaccademy;integrated security=sspi;" /> -->
   <add key="ConnectionString" value="data source=43.242.212.36; initial catalog=stfrancis202223new;uid=pinku;pwd=kamal@1985;Max Pool Size=1000;" />
    
    <!--<add key="ConnectionString" value="data source=43.242.212.36; initial catalog=Testing_04-02-2017;uid=pinku;pwd=kamal@1985;"/>-->
    
    <!-- <add key="ConnectionString" value="data source=115.249.195.19; initial catalog=abcd12345;uid=priam123456;pwd=lnf2bO~Na86hxWrc;"/>-->
      <!--<add key="ConnectionString" value="data source=shirdi; initial catalog=WOTransDB1;uid=sa;pwd=12345"/>-->
    <add key="InsertMsg" value="Record Saved Successfully." />
    <add key="ExistMsg" value="Record Already Exist." />
    <add key="DeleteMsg" value="Record Deleted Successfully." />
    <add key="ErrorMessage" value="Some Error Occur." />
    <add key="titleBar" value="School Management ERP " />
    <add key="CryptoKey" value="%>s{;+#" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />

    <remove name="LocalSqlServer" />
    <!--<add name="localsqlserver" connectionString="data source=shirdi; initial catalog=WOTransDB1;uid=sa;pwd=12345" />-->
    <add name="localsqlserver" connectionString="data source=43.242.212.36; initial catalog=sanserp;uid=pinku;pwd=kamal@1985;Max Pool Size=500;" />
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="90" maxRequestLength="20971520" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="1000" enableVersionHeader="true" requestValidationMode="2.0" />
    <machineKey validationKey="F9D1A2D3E1D3E2F7B3D9F90FF3965ABDAC304902" decryptionKey="684FC9301F404DE1B9565E7D952005579E823307BED44885" validation="SHA1" />
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name=".MLMAUTHX" protection="All" slidingExpiration="true" timeout="14400" />
    </authentication>
    <customErrors defaultRedirect="~/Index.html" mode="Off">
      <error statusCode="404" redirect="~/404.aspx" />
      <!--<error statusCode="403" redirect="~/Fortune/CustomeError/Resource.aspx" />-->
    </customErrors>

    <trust level="Full" />
    <pages controlRenderingCompatibilityVersion="3.5" enableViewStateMac="true" viewStateEncryptionMode="Never" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="CryptoQueryStringUrlRemapper" type="SmartSoft.QueryStringEncryption.CryptoQueryStringUrlRemapper" />
    </modules>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />

        <add value="login.aspx" />

      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URL}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ActiveReports6" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.3681.0" newVersion="6.2.3681.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ActiveReports.Document" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.3681.0" newVersion="6.2.3681.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ActiveReports.HtmlExport" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.3681.0" newVersion="6.2.3681.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ActiveReports.PdfExport" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.3681.0" newVersion="6.2.3681.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ActiveReports.RtfExport" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.3681.0" newVersion="6.2.3681.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ActiveReports.XlsExport" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.3681.0" newVersion="6.2.3681.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>